/* hero */

.hero {
    background-image: url(./images/pexels-danny-meneses-943096.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.heroBox {
    padding: 60px 90px 60px 90px;

}

.heroBox h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 4rem;
    font-size: 36pt;
}

.heroBox h3 {
    font-family: 'Oswald', sans-serif;
}

.heroBox p {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18pt;
}

@media (max-width: 767px) {
    .heroBox {
        padding: 30px 45px 0 45px;
    }
}


/* About me*/

.aboutBox {
    background-color: rosybrown;
}

